*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#root{
    max-width: 1200px;
    width: 80%;
    margin: 60px auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: grey;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

div.todolist{
    background-color: darkgray;
    width: 100%;
    margin-top: 50px;
}

div.todolist h1{
    margin: 10px;
}

div.todolist ul{
    list-style: none;
    margin: 10px;
    padding: 10px;
}

div.todolist li{
    display: flex;
    justify-content: space-between;
}

div.todolist li p{
    width: 100%;
}

div.todolist li:hover{
    cursor: pointer;
}


/* classi dello span dinamiche che cambiano in base al click*/
li p.done{
    text-decoration: line-through;
}

li p.undone{
    text-decoration: none;
}